* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.67rem;
  line-height: 1.5;
  color: white;
  max-width: 144rem;
  margin: 0 auto;

  @include breakpoint-down(medium) {
    font-size: 2.9rem;
  }
}

h1 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;

  @include breakpoint-down(medium) {
    font-size: 4rem;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
}

.button {
  color: $violet;
  padding: 1.6rem 6rem;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
  transition: all 0.2s ease-in-out;

  @include breakpoint-down(medium) {
    padding: 3rem 15rem;
  }

  &:hover {
    background-color: $softMagenta;
    color: white;
  }
}

.container {
  padding: 0 8rem;
}
