@import "variable";
@import "mixin";
@import "global";

main {
  background-color: $violet;
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 100%;
  height: 80rem;
}

.header {
  &__logo {
    width: 21rem;
    margin-top: 6rem;
    margin-bottom: 10rem;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  figure {
    flex: 1.72;
    img {
      width: 70rem;
    }
  }

  .text {
    flex: 1;
    margin-top: -15rem;
    h1 {
      margin-bottom: 3rem;
    }

    p {
      margin-bottom: 2.5rem;
    }
  }
}

.footer {
  text-align: right;

  a {
    color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50px;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $softMagenta;
      border-color: $softMagenta;
    }
  }

  i {
    font-size: 2rem;
    padding: 1.55rem;
  }
}
